@charset "UTF-8";


header {height:100px; background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* headerLogo */
.headerLogo:hover{text-decoration: none; color:white;}
.headerLogo{color:black;}
.signUpImage{margin-right:20px; background-color:transparent;}

/* headerText */
.loginText {font-size: 20px; color:black; margin-top:8px;}
.loginText:hover{text-decoration: none; color:white; }
.createUserName{color:black; font-size:30px;}
.createUserName2{margin-top:15px; margin-left:4px;}
.signOutText{font-size:20px;}



/* section  */
section{background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* 글 상세/수정 */
.imageMemo{background-color: rgba( 255, 255, 255, 0.5 ); }


/* 글 목록  */
.memoSubject:hover{text-decoration: none;  color:black;}
.memoSubject{color:#AEB404;}







.contents {min-height:700px; }
#loginIdCheckBtn{width:170px; height:40px;}
footer {height:100px; background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

